# gitignore
node_modules/
.next/
out/
.env*
.DS_Store
logs
.vercel
next-env.d.ts
.swc

# test files
vitest.config.mts
src/**/*.test.ts
src/**/*.test.tsx
src/setupFile.ts
src/lib/test.utils.tsx

# others
.github
.git
.dockerignore
.gitignore
README.md
.env.example
.vscode
Dockerfile