# gitignore
node_modules/
.next/
out/
.env
*.local
.DS_Store
logs
.vercel
next-env.d.ts
.swc

# test files
jest.setup.ts
jest.config.mjs
src/*.test.ts
src/*.test.tsx
src/lib/test.utils.tsx

# others
.github
.git
.dockerignore
.gitignore
README.md
.env.example
.vscode
Dockerfile