@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --background: 0 0% 100%;
  --foreground: 250 30% 4%;
  --primary: 250 81% 58%;
  --primary-foreground: 0 0% 98%;
}

/* .dark {} */

@theme inline {
  /* font */
  --font-poppins: var(--font-poppins);

  /* colors */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
}

@utility container {
  margin-inline: auto;
  padding-inline: 0.5rem;

  @media (width >= 96rem) {
    max-width: 1508px;
  }
}

@layer base {
  body {
    scrollbar-width: thin;
    @apply bg-background text-foreground;
  }

  [role='button'],
  button {
    @apply cursor-pointer;
  }

  ::-webkit-scrollbar {
    @apply max-h-2 max-w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-foreground/40 hover:bg-foreground/50 rounded-md;
  }
}
